.slider-area
  .zigzag-bottom
  #slide-list.carousel.carousel-fade.slide{"data-ride" => "carousel"}
    .slide-bulletz
      .container
        .row
          .col-md-12
            %ol.carousel-indicators.slide-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#slide-list"}
              %li{"data-slide-to" => "1", "data-target" => "#slide-list"}
    .carousel-inner{:role => "listbox"}
      .item.active
        .single-slide
          .slide-bg.around-the-world-hero
          .slide-text-wrapper
            .slide-text
              .container
                .row
                  .col-md-6
                    .slide-content
                      %h2 Dining Near YOU!!
                      %p Welcome to a eatery search Application.
                      %p SO EASY A CHILD CAN USE IT
.promo-area
  .zigzag-bottom
  .container
    .row
      .col-md-4.col-sm-12
        .single-promo
          %i.fa.fa-truck
          %p Delivery!
      .col-md-4.col-sm-12
        .single-promo
          %i.fa.fa-map-marker
          %p Maps And Directions
      .col-md-4.col-sm-12
        .single-promo
          %i.fa.fa-gift
          %p New dining experiences
-# Main Content
.maincontent-area
  .zigzag-bottom
  .container
    .row
      .col-md-12
        .latest-product
          %h2.section-title Latest stores
          .product-carousel
            - @latest_stores.each do |store|
              .single-product
                %h2
                  = link_to store.name, store
                .product-f-image
                  - if store.pictures.any?
                    = image_tag attachment_url(store.pictures.first, :image), size: "200x200"
                  - else
                    = image_tag "default-store-image.jpg", size: "200x200"
                  .product-hover
                    = link_to store, class: "view-details-link" do
                      %i.fa.fa-search
                      SHOW DETAILS
  %hr/

  %footer
    .row
      .col-lg-12
        %p
          Copyright © Ham is super awesome - 2017
/ End footer bottom area
